<h1>Session: <span id="session-id"><%= @input_session_id %></span></h1>
<%= form_tag '/input_sessions/update', method: :put, remote: true, id: "input-form" do %>
<%= hidden_field_tag :input %>
<% end %>
<p>Press a, b, x, y, up, down, left, or right key.</p>
<div id="count">
	<h2>current count</h2>
	<ul>
		<li id="a">
			a: <span><%= @current_inputs["a"] %></span>
		</li>
		<li id="b">
			b: <span><%= @current_inputs["b"] %></span>
		</li>
		<li id="x">
			x: <span><%= @current_inputs["x"] %></span>
		</li>
		<li id="y">
			y: <span><%= @current_inputs["y"] %></span>
		</li>
		<li id="up">
			up: <span><%= @current_inputs["ArrowUp"] %></span>
		</li>
		<li id="down">
			down: <span><%= @current_inputs["ArrowDown"] %></span>
		</li>
		<li id="left">
			left: <span><%= @current_inputs["ArrowLeft"] %></span>
		</li>
		<li id="right">
			right: <span><%= @current_inputs["ArrowRight"] %></span>
		</li>
	</ul>
</div>
<%= form_tag '/input_sessions', method: :get do %>
How many past responses would you like to see?</br>
<%= number_field_tag :amount %>
<%= submit_tag "view recent heighest responses" %>
<% end %>
<script type="text/javascript">
	lastSessionSelected = null;
	currentSession = <%= @input_session_id %>;
	$(document).keydown(function(event){
		if (lastSessionSelected !== currentSession){
			$('#input').val(event.key);
			$('#input-form').submit();
			lastSessionSelected = currentSession;
		}
	});
</script>